In [47]:
import pandas as pd 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [4]:
df1 = pd.read_parquet('./data/yellow_tripdata_2023-01.parquet')

In [5]:
df1

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN

In [6]:
df1.shape

(3066766, 19)

In [16]:
df1['trip_duration_mins'] = (pd.to_datetime(df1['tpep_dropoff_datetime']) - pd.to_datetime(df1['tpep_pickup_datetime'])).dt.total_seconds()/60

In [18]:
# std
df1['trip_duration_mins'].std()

42.594351241920904

In [21]:
(df1['trip_duration_mins'].between(1,60)).mean()

0.9812202822125979

In [30]:
((df1['trip_duration_mins'] > 1) & (df1['trip_duration_mins'] < 60)).mean()

0.9811146334607858

In [36]:
df1_ohe = pd.get_dummies(df1[['PULocationID', 'DOLocationID']], columns=['PULocationID', 'DOLocationID'], drop_first=True)

In [37]:
df1_ohe.shape

(3066766, 516)

In [38]:
df1_ohe

,PULocationID_2,PULocationID_3,PULocationID_4,PULocationID_5,PULocationID_6,PULocationID_7,PULocationID_8,PULocationID_9,PULocationID_10,PULocationID_11,...,DOLocationID_256,DOLocationID_257,DOLocationID_258,DOLocationID_259,DOLocationID_260,DOLocationID_261,DOLocationID_262,DOLocationID_263,DOLocationID_264,DOLocationID_265
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3066762,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3066763,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3066764,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3066765,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
y.dtypes

dtype('float64')

In [52]:
X = df1_ohe.iloc[:2000000, :]
y = df1['trip_duration_mins'][:2000000]
lr = LinearRegression()
lr.fit(X, y)

LinearRegression()

In [53]:
y_pred = lr.predict(X)

In [54]:
mean_squared_error(y, y_pred, squared=False)

42.71769584700099

In [58]:
list(range(4, 1, -1))

[4, 3, 2]

In [61]:
lambda x: x+5 (5)

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\masou\AppData\Local\Temp\ipykernel_16312\2337948929.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  lambda x: x+5 (5)